<nav>
    <i class='bx bx-menu'></i>
    <a href="#" class="nav-link">Categorias</a>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
    </form>
    <a href="#" class="notification">
        <i class='bx bxs-bell'></i>
        <span class="num">{{user.username}}</span>
    </a>
    <a href="#" class="profile">
        <img src="../../../assets/img/usuario_random.png">
    </a>
</nav>